<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android">
	<application>
		<!-- Release F6:35:98:18:C9:2F:99:F9:60:F3:74:EA:CA:73:45:93:24:F6:E2:60;net.twisterrob.blt -->
		<meta-data
			android:name="com.google.android.geo.API_KEY"
			android:value="AIzaSyB6qc9WlSDbaNGO-c-mnu8ajlq3jroh2E4" />
	</application>
</manifest>
